
body{
    background-color: #e7e7e7;
}
/* Mentor card styles */
h1{
    text-align: center;
    font-size: 40px;
    position: relative;
    top:-30rem;
}
.mentor-grid {
    margin-top: -30rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 7rem;
}

.mentor-card {
    margin: 20px ;
    background-color: #e3e8ff;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
   border-radius: 40px;
    padding: 20px;
    animation-name : colorChange;
    animation-duration: 3s; 
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-delay: 0.2s;
    animation-iteration-count: infinite;
 
}
@keyframes colorChange{
    0%{
        filter: drop-shadow(0 0 0);
    }
    25%{
        filter: drop-shadow(5px 5px 1px rgb(78, 162, 215));
    }
    50%{
        filter: drop-shadow(5px 5px 1px  rgb(78, 162, 215));
    }
    75%{
        filter: drop-shadow(-5px -5px 1px rgb(78, 162, 215));
    }
    100%{
        filter: drop-shadow(0 -5px 1px  rgb(78, 162, 215));
    }
}
.mentor-card:hover{
    cursor: pointer;
    transition: all .7s ease-in-out ;
    background-color: #3f90e8;
    border: 1px solid blue;
    color:white;
    transform: scale(1.12);
}
.mentor-card h2{
    text-align: center;
}
.mentor-card p{
    text-align: center;
}
.mentor-card img {
    width: 100%;
   filter: drop-shadow(2px 2px 2px rgb(5, 5, 5));
    width: 20rem;
    height: 20rem;
   filter: drop-shadow(2px 2px 2px rgb(72, 72, 72));
    border-radius: 50%;
    margin-bottom: 1rem;
}
button{
    width:15rem;
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 30px;
    background-color: rgb(168, 168, 240);
}
button:hover{
    cursor: pointer;
    background-color: green;
}
button a{
    text-decoration: none;
    color:white;
}