@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
html{
    font-size: 62.5%;
}

/* General styles */
body {
    /* font-family: Arial, sans-serif; */
    font-size: 1.6rem;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #1783c6;
    color: #ffffff;
    padding: .8rem 0;
}
.first{
    position: absolute;
    left:10rem;
    top:0.7rem
}
.last{
    position: absolute;
    right:10rem;
}
.last button{
    width: 16rem;
    padding: 1rem;
    border-radius: 2rem;
    background-color: #26262b;
    animation-name : colorChange;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-delay: 0.2s;
    animation-iteration-count: infinite;
}
.last button:hover{
    background-color: #080847;
    cursor: pointer;
    color:#fbbf24
}
@keyframes colorChange{
    0%{
        filter: drop-shadow(0 0 0);
    }
    25%{
        filter: drop-shadow(2px 2px 1px rgb(235, 235, 235));
    }
    50%{
        filter: drop-shadow(2px 2px 1px rgb(229, 235, 230));
    }
    75%{
        filter: drop-shadow(-2px -2px 1px rgb(229, 231, 229));
    }
    100%{
        filter: drop-shadow(0 -2px 1px rgb(231, 231, 231));
    }
}
.last :hover{
    background-color: rgb(10, 10, 104) !important;
    color: #fbbf24 !important;
}
.first img{
    background-color: white;
    border-radius: 50%;
    width:6rem;
}
.first img:hover{
    border: none;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 4rem;
}
nav ul li :hover{
    color: #fbbf24;
}
nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.9rem;
}

nav ul li a.active {
    /* font-weight: bold; */
    color:yellowgreen;
}
/* Responsive Styles */

/* Extra small devices (max-width: 350px) */
@media (max-width: 350px) {
    nav ul li {
        margin: 0 .5rem;
        padding: 0;
    }

    nav ul li a {
        font-size: .9rem;
    }

    .first img {
        width: 2rem;
        position: relative;
        top: 2rem;
        left: -7rem;
    }

    .last {
        right: 0.5rem;
    }

    .last button {
        width: 6rem;
        padding: 0.5rem;
    }
}

/* Small devices (351px - 400px) */
@media (min-width: 351px) and (max-width: 400px) {
    nav ul li {
        margin: 0 .5rem 0 1rem;
    }

    nav ul li a {
        font-size: 1rem;
    }

    .first img {
        width: 5rem;
        position: relative;
        left: -8rem;
    }

    .last {
        right: 1rem;
    }

    .last button {
        width: 7rem;
        padding: 0.7rem;
    }
}

/* Small devices (401px - 575px) */
@media (min-width: 401px) and (max-width: 575px) {

    .first {
        left: 4rem;
    }

    .last {
        right: 4rem;
    }

    .first img {
        width: 5.5rem;
        position: relative;
        left: -2rem;
        top: 0.5rem;
    }

    nav ul li {
        margin: 0 .7rem;
    }

    nav ul li a {
        font-size: 1.2rem;
    }

    .last button {
        width: 7rem;
        position: relative;
        left: 2rem;
        padding: 1rem;
    }
}
@media (min-width: 576px) and (max-width: 991px) {
    .first {
        left: 6rem;
    }

    .last {
        right: 6rem;
    }

    .first img {
        width: 6rem;
        top: 0;
        left: 0;
    }

    nav ul li {
        margin: 0 3rem;
    }

    nav ul li a {
        font-size: 1.7rem;
    }

    .last button {
        position: relative;
        left:4rem;
        width: 14rem;
        padding: 1rem;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .first {
        left: 8rem;
    }

    .last {
        right: 8rem;
    }

    nav ul li {
        margin: 0 4rem;
    }

    nav ul li a {
        font-size: 1.8rem;
    }

    .last button {
        width: 15rem;
    }
}
@media (min-width: 1200px) {
    .first {
        left: 10rem;
    }

    .last {
        right: 10rem;
    }

    nav ul li {
        margin: 0 4rem;
    }

    nav ul li a {
        font-size: 1.9rem;
    }

    .last button {
        width: 16rem;
    }
}