

main {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    color: #35424a;
}

footer {
    background-color: #35424a;
    color: #ffffff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Form styles */
form {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

input[type="text"],
input[type="password"],
input[type="email"],
select,
textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 3px;
}

button {
    background-color: #35424a;
    color: #ffffff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #2c3840;
}

/* Booking styles */
.time-slot {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 3px;
    cursor: pointer;
}

.time-slot.booked {
    background-color: #f0f0f0;
    cursor: not-allowed;
}

.time-slot.selected {
    background-color: #35424a;
    color: #ffffff;
}

/* Add this to your existing CSS file */

.time-slot {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 3px;
    cursor: pointer;
}

.time-slot.booked {
    background-color: #f0f0f0;
    cursor: not-allowed;
}

.time-slot.selected {
    background-color: #35424a;
    color: #ffffff;
}

#logoutButton {
    cursor: pointer;
}
.hero-section {
    position: relative;
    width: 100%;
    height: 100vh; /* Full viewport height */
    background-image: url('../images/hero.jpg');
    background-size: cover;
    background-position: center;
}

.hero-section h1 {
    position: absolute;
    top: 20px;  /* Adjust the value to move the text further from the top */
    right: 20px;  /* Adjust the value to move the text further from the right */
    color: white;
    font-size: 3rem; /* Adjust font size as needed */
    z-index: 1; /* Make sure the text stays above the background */
}

.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.5); Optional: Overlay for readability */
    z-index: 0;
}

.hidden {
    display: none; /* Hide the actual <img> tag */
}
.get-started-button {
    display: inline-block;
    height: 70px;
    width: 700px;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    text-align: center;
    font-size: 30px !important;
    text-decoration: none;
    font-size: 16px;
    position: relative;
     top: 590px;/* Adjust as needed */
    left: 970px; 
}


.get-started-button:hover {
    background-color: #008ecc; /* Slightly darker blue on hover */
}
